<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oddshou.testall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".OddsDemos"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_odds_demos"
            android:process=":process.main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Main2Activity"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:process=":process.sub">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".download.DownloadManagerDemo"
            android:label="@string/activity_download__demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.WaveViewActivity"
            android:label="@string/activity_wave_view">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LaunchModeActivity"
            android:label="@string/activity_launch_mode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".apkinstall.InstallFromAssets"
            android:label="@string/title_activity_install_from_assets">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OneActivity"
            android:label="@string/title_activity_one"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.TwoActivity"
            android:label="@string/title_activity_two" />
        <activity
            android:name=".scroll.ScrollActivity"
            android:label="@string/title_activity_scroll" />
        <activity
            android:name=".scroll.TabIterceptActivity"
            android:label="@string/title_activity_tab_itercept">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.NetworkReceiver">
            <intent-filter android:priority="0x7fffffff">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.NetwrokLogActivity"
            android:label="@string/title_activity_networklogactivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ViewTestActivity"
            android:label="@string/title_activity_view_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DrawableTestActivity"
            android:label="@string/title_activity_drawable_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ManagerActivity"
            android:label="@string/title_activity_manager_apk">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".activity.WifiActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>-->
    </application>

</manifest>