<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oddshou.testall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:anyDensity="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/android:Theme.Material"
        android:screenOrientation="portrait"
        android:debuggable="true">
        <activity
            android:name=".OddsDemos"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_odds_demos"
            android:process=":process.main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Main2Activity"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:process=":process.sub">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".download.DownloadManagerDemo"
            android:label="@string/activity_download__demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.WaveViewActivity"
            android:label="@string/activity_wave_view">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.launchmode.LaunchModeActivity"
            android:label="@string/activity_launch_mode"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".apkinstall.InstallFromAssets"
            android:label="@string/title_activity_install_from_assets">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.launchmode.SingleTaskActivity"
            android:label="@string/title_activity_single_task"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.launchmode.SingleInstanceActivity"
            android:label="@string/title_activity_single_instance"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".scroll.ScrollActivity"
            android:label="@string/title_activity_scroll" />
        <activity
            android:name=".scroll.TabIterceptActivity"
            android:label="@string/title_activity_tab_itercept">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.NetworkReceiver">
            <intent-filter android:priority="0x7fffffff">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.NetwrokLogActivity"
            android:label="@string/title_activity_networklogactivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ViewTestActivity"
            android:label="@string/title_activity_view_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DrawableTestActivity"
            android:label="@string/title_activity_drawable_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ManagerActivity"
            android:label="@string/title_activity_manager_apk"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.JniActivity"
            android:icon="@drawable/icon"
            android:label="@string/title_activity_jni">
<!--            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FragmentRetainInstance"
            android:label="@string/title_activity_nouifragment"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity android:name=".drawable.DrawableMainActivity"
            android:label="@string/drawable__main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ScreenActiviy"
            android:label="@string/title_activity_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity android:name=".graaphics.Xfermodes"
            android:label="@string/title_activity_xfermodes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity android:name=".animation.RadialGradientView"
            android:label="@string/title_animation_radialgradientview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity android:name=".animation.GridLayoutAnimation"
            android:label="@string/title_animation_gridlayoutanimation"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity android:name=".animation.DragBack"
            android:label="@string/title_animation_dragback"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.TestDragGridView"
            android:label="@string/title_demo_drag_gridview"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
        <activity android:name=".layout.DrawerLayoutAct"
            android:label="@string/title_layout_drag_drawerlayoutact"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>










        <activity android:name=".activity.AllTest"
            android:label="@string/title_all_test"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>



        <activity
            android:name="nfyg.hskj.hsgamesdk.activity.HomePageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/hsgame_app_name"
            android:launchMode="singleTask"
            android:taskAffinity="nfyg.hskj.hsgamesdk.second"
            android:screenOrientation="user"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/App_FullScreen_NoActionBar"
            >
            <intent-filter>
                <data
                    android:host="bizTwo"
                    android:path="/someWorks"
                    android:scheme="appName"/>
                <action android:name="cn.hskj.action.SHORTCUT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oddshou.testall.category.example" />
            </intent-filter>
        </activity>
    </application>

</manifest>